.virtual-scroll-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.virtual-scroll {
  flex-grow: 1;
}

.news-container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.toolbar-title {
  color: inherit;
  font-size: 22px;
  text-decoration: none;
}

.story-title {
  font-size: 18px !important;
}

.story-author {
  font-size: 12px !important;
}
