.virtual-scroll-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.virtual-scroll {
  flex-grow: 1;
}

.story-title {
  font-size: 18px !important;
}

.story-author {
  font-size: 12px !important;
}
